.desktop article{

  width: 80%;
  margin: 0 auto;
  /*background: yellow;*/
}

  .desktop .livro{

    width: 40%;
    height: auto;
    float: left;
    padding: 0 5% 0 5%;
    /*background: red;*/
  }

    .desktop .livro img{width: 100%;}

  .desktop .sobre{

    width: 60%;
    float: left;
    padding: 1.6% 5% 0 5%;
  }

  .desktop .valor{

    width: 100%;
    /*background: red;*/
    padding: 10% 0 15% 0;
  }

    .desktop .width50{width: 50%; float: left;}
    .desktop .txt-center{text-align: right;}

    .desktop .comprar{

      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      padding: 15px 40px 15px 40px;
      background: #3498db;
      border-radius: 4px;
    }

  .desktop .prevacio{

    width: 100%;
    /*height: 450px;*/
    overflow: hidden;
    padding: 2% 5%;
    float: left;
    display: block;
    z-index: 99;
  }

  .comentarios{

    width: 100%;
    /*position: relative;*/
    padding-bottom: 100px;
    padding: 1% 14%;
    margin: auto;
  }
  
  .comentarios-sobre {
    width: 100%;
    float: left;
    padding-bottom: 100px;
    padding: 2% 5%;
    margin: auto;
}

  .fb-comments{

    padding-top: 30px;
    padding-left: 50%;
    margin-left: -250px;
  }
/*==== Mobile ====*/
.mobile article{padding-bottom: 150px;}
.mobile .livro{width: 100%;}
  .mobile .valor{width: 100%; padding: 10% 0 10% 0;}
    .mobile .comprar{

      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      padding: 40px 80px 40px 80px;
      background: #3498db;
      border-radius: 4px;
    }

.link-texto {
  font-family: Montserrat-Light, Arial, sans-serif; font-size: 15px; color: #3b3b3b; line-height: 22px;
  text-decoration: none;
  color: #c0392b;
}

.link-texto:hover{
  text-decoration: underline;

}
